.container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
} 

.endpointsGestor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.professor {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color: limegreen;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.professor:hover {
    background-color: magenta;
}

.professor img {
    width: 128px;
    height: 128px;
}

.professor p {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
}

.disciplina {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color: limegreen;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.disciplina:hover {
    background-color: magenta;
}

.disciplina img {
    width: 128px;
    height: 128px;
}

.disciplina p {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
}

.ambiente {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    background-color: limegreen;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.ambiente:hover {
    background-color: magenta;
}

.ambiente img {
    width: 128px;
    height: 128px;
}

.ambiente p {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
}

.botaoVoltar {
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: #00ff91;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 40px;
}

.botaoVoltar i {
    font-size: 20px;
}

.botaoVoltar:hover {
    background-color: #e5ec09;
}