.loginForm {
    height: 100vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", sans-serif;
}

.centralizarForm {
    width: 100%;
    max-width: 600px;
    background-color: limegreen;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 12px black;
}

.titulo {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

label {
    font-weight: normal;
    font-size: 18px;
    margin: 5px 0;
    margin-right: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    color: black;
    width: 100%;
    border: 1px solid blue;
    box-sizing: border-box;
}

.erros {
    font-size: 16px;
    color: black;
    margin-left: 7px;
    margin-bottom: 10px;
}

.divBotao {
    text-align: center;
    margin-top: 30px;
}

.botao {
    padding: 10px;
    background-color: #0533bb;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.botao:hover {
    background-color: #FF6B3D;
}